*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    color: white; 
}

input[type="email"],
input[type="password"],
input[type="text"],
input[type="tel"],
 textarea{
    background-color: rgba(52, 50, 50, 0.542);
    border:none;
    width: 290px;
    color: white;
   
}

label {
    background-color: transparent;
    color: white;  
}

.form-floating{
    width: 350px;
    background: transparent;
}

/* .form-floating:focus{
    border: none;
} */

input[type="email"]:focus,
input[type="password"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
 textarea{
    background-color: transparent;
    color: white; 
    
    
}

.form-text{
    background: transparent;
    color: white;
}

.form-control{
    background: transparent;
}
